<div class="mySales">
    <div id="main">
        <center>
            <h1>Welcome to the Newsletter Page</h1>
        </center>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;Links</span>
        <center>
            <embed src="../Images/Sample2.pdf" width="750" height="700" type='application/pdf'>
            <div class="form-group col-md-12" id="aboutFooter">
                <span style="font-size:15px">Copyright </span> ©
                <span style="font-size:15px">2017 New Concept Lighting, Inc</span>
            </div>
        </center>
    </div>
</div>